<!doctype html>
<html lang="en">
<head>
  <title>Main page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>


<div id="sidebar">

  <div class="navbar-expand-md navbar-dark">

    <header class="d-none d-md-block">
      <h1><span>SPORT</span>GOODS</h1>
    </header>


    <div class="mobile-header-controls">
      <a class="navbar-brand d-md-none d-lg-none d-xl-none" href="#"><span>my</span>website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SidebarContent" aria-controls="SidebarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div id="SidebarContent" class="collapse flex-column navbar-collapse">


      <nav class="navbar navbar-dark">
        <div id="mainNavbar">
          <ul class="flex-column mr-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="goMain()">Поиск данных </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="goAdd()">Добавить данные</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" (click)="goDelete()">Удалить данные <span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>


<div id="content">
  <div id="content-wrapper">
    <main class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <article>
            <h2 class="article-title"> Удалить данные </h2>
            <p class="article-meta"> Доступно удалить данные из таблицы </p>
            <form  class="login100-form validate-form" [formGroup]="tableForm" (ngSubmit)="getData()">
              <div class="wrap-input100 validate-input m-b-26" >
                <span class="label-input100" >Таблица    </span> <div></div>
                <mat-form-field >
                  <mat-select [(value)]="selected" id="table" formControlName="table" [ngClass]="{ 'is-invalid': submitted && logn.table.errors }" >
                    <mat-option value="brand">brand</mat-option>
                    <mat-option value="cheque">cheque</mat-option>
                    <mat-option value="delivery">delivery</mat-option>
                    <mat-option value="employee">employee</mat-option>
                    <mat-option value="good">good</mat-option>
                    <mat-option value="good_in_order">good_in_order</mat-option>
                    <mat-option value="good_in_shop">good_in_shop</mat-option>
                    <mat-option value="good_in_store">good_in_store</mat-option>
                    <mat-option value="good_size">good_size</mat-option>
                    <mat-option value="online_sale">online_sale</mat-option>
                    <mat-option value="sale">sale</mat-option>
                    <mat-option value="season">season</mat-option>
                    <mat-option value="shop">shop</mat-option>
                    <mat-option value="sport">sport</mat-option>
                    <mat-option value="store">store</mat-option>
                    <mat-option value="user_db">user_db</mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="focus-input100"></span>
              </div>

              <table class="" *ngIf="selected ==='user_db'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > username </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="user_username" placeholder="Enter username"  id="user_username"  formControlName="user_username" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > password </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="user_password" placeholder="Enter password"  id="user_password"  formControlName="user_password">
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > role </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="user_role" placeholder="Enter role"  id="user_role" formControlName="user_role">
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='store'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > name </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="store_name" placeholder="Enter name"  id="store_name"  formControlName="store_name" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > time_open </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="store_time_open" placeholder="Enter time_open"  id="store_time_open"  formControlName="store_time_open">
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > address </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="store_address" placeholder="Enter address"  id="store_address" formControlName="store_address">
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='sport'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > name </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="sport_name" placeholder="Enter name"  id="sport_name"  formControlName="sport_name" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='shop'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > name </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="shop_name" placeholder="Enter name"  id="shop_name"  formControlName="shop_name" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > address </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="shop_address" placeholder="Enter address"  id="shop_address"  formControlName="shop_address" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > time_open </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="shop_time_open" placeholder="Enter time_open"  id="shop_time_open"  formControlName="shop_time_open" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > phone_number </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="shop_phone_number" placeholder="Enter phone_number"  id="shop_phone_number"  formControlName="shop_phone_number" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_store </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="shop_id_store" placeholder="Enter id_store"  id="shop_id_store"  formControlName="shop_id_store" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='season'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > season </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="season_season" placeholder="Enter season"  id="season_season"  formControlName="season_season" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='sale'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > date_sale  </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="sale_data_sale" placeholder="Enter data_sale"  id="sale_data_sale"  formControlName="sale_data_sale" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > count  </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="sale_count" placeholder="Enter count"  id="sale_count"  formControlName="sale_count" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_employee </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="sale_id_employee" placeholder="Enter id_employee"  id="sale_id_employee"  formControlName="sale_id_employee" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_cheque </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="sale_id_cheque" placeholder="Enter id_cheque"  id="sale_id_cheque"  formControlName="sale_id_cheque" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='online_sale'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > data_create </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="online_sale_data_create" placeholder="Enter data_create"  id="online_sale_data_create"  formControlName="online_sale_data_create" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > data_finish </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="online_sale_data_finish" placeholder="Enter data_finish"  id="online_sale_data_finish"  formControlName="online_sale_data_finish" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_delivery </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="online_sale_id_delivery" placeholder="Enter id_delivery"  id="online_sale_id_delivery"  formControlName="online_sale_id_delivery" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='good_size'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > size </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_size_size" placeholder="Enter size"  id="good_size_size"  formControlName="good_size_size" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_good </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_size_id_good" placeholder="Enter id_good"  id="good_size_id_good"  formControlName="good_size_id_good" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='good_in_store'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > id_good_size </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_store_id_good_size" placeholder="Enter id_good_size"  id="good_in_store_id_good_size" formControlName="good_in_store_id_good_size" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_store </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_store_id_store" placeholder="Enter id_store"  id="good_in_store_id_store"  formControlName="good_in_store_id_store" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > count </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_store_count" placeholder="Enter count"  id="good_in_store_count"  formControlName="good_in_store_count" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='good_in_shop'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > id_good_size </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_shop_id_good_size" placeholder="Enter id_good_size"  id="good_in_shop_id_good_size" formControlName="good_in_shop_id_good_size" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_shop </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_shop_id_shop" placeholder="Enter id_shop"  id="good_in_shop_id_shop"  formControlName="good_in_shop_id_shop" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > count </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_shop_count" placeholder="Enter count"  id="good_in_shop_count"  formControlName="good_in_shop_count" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='good_in_order'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > id_good_size </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_order_id_good_size" placeholder="Enter id_good_size"  id="good_in_order_id_good_size" formControlName="good_in_order_id_good_size" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_online_sale </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_order_id_online_sale" placeholder="Enter id_online_sale"  id="good_in_order_id_online_sale"  formControlName="good_in_order_id_online_sale" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > count </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_in_order_count" placeholder="Enter count"  id="good_in_order_count"  formControlName="good_in_order_count" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='good'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > name </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_name" placeholder="Enter name"  id="good_name"  formControlName="good_name" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > amount </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_amount" placeholder="Enter amount"  id="good_amount"  formControlName="good_amount" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_season </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_id_season" placeholder="Enter id_season"  id="good_id_season"  formControlName="good_id_season" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_brand </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_id_brand" placeholder="Enter id_brand"  id="good_id_brand"  formControlName="good_id_brand" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_sport </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="good_id_sport" placeholder="Enter id_sport"  id="good_id_sport"  formControlName="good_id_sport" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='employee'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > name </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_name" placeholder="Enter name"  id="employee_name"  formControlName="employee_name" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > education </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_education" placeholder="Enter education"  id="employee_education"  formControlName="employee_education" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > salary </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_salary" placeholder="Enter salary"  id="employee_salary"  formControlName="employee_salary" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > position </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_position" placeholder="Enter position"  id="employee_position"  formControlName="employee_position" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > birthday </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_birthday" placeholder="Enter birthday"  id="employee_birthday"  formControlName="employee_birthday" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_shop </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_id_shop" placeholder="Enter id_shop"  id="employee_id_shop"  formControlName="employee_id_shop" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > passport </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="employee_passport" placeholder="Enter passport"  id="employee_passport"  formControlName="employee_passport" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='delivery'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > weight </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="delivery_weight" placeholder="Enter weight"  id="delivery_weight"  formControlName="delivery_weight" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > data </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="delivery_data" placeholder="Enter data"  id="delivery_data"  formControlName="delivery_data" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > amount </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="delivery_amount" placeholder="Enter amount"  id="delivery_amount"  formControlName="delivery_amount" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > status </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="delivery_status" placeholder="Enter status"  id="delivery_status"  formControlName="delivery_status" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > address </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="delivery_address" placeholder="Enter address"  id="delivery_address"  formControlName="delivery_address" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='cheque'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > inn </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_inn" placeholder="Enter inn"  id="cheque_inn" formControlName="cheque_inn" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > count </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_count" placeholder="Enter count"  id="cheque_count" formControlName="cheque_count" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > amount </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_amount" placeholder="Enter amount"  id="cheque_amount" formControlName="cheque_amount" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > time_check </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_time_check" placeholder="Enter time_check"  id="cheque_time_check" formControlName="cheque_time_check" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > type_payment </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_type_payment" placeholder="Enter type_payment"  id="cheque_type_payment" formControlName="cheque_type_payment" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_shop </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_id_shop" placeholder="Enter id_shop"  id="cheque_id_shop" formControlName="cheque_id_shop" >
                  </th>
                </tr>
                <tr >
                  <th>
                    <p  class="input100" > id_employee </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="cheque_id_employee" placeholder="Enter id_employee"  id="cheque_id_employee" formControlName="cheque_id_employee" >
                  </th>
                </tr>
              </table>

              <table class="" *ngIf="selected ==='brand'">
                <span>Добавьте параметры для поиска или оставьте поля пустыми: </span>
                <tr >
                  <th>
                    <p  class="input100" > brand </p>
                  </th>
                  <th>
                    <input class="input100 form-control" type="text" name="brand_brand" placeholder="Enter brand"  id="brand_brand"  formControlName="brand_brand" >
                  </th>
                </tr>

              </table>

              <div class="container-login100-form-btn" >
                <button class="btn btn-primary" style="background-color: #2880b8; color: white; border-color: #ed8d1c; margin-top: 10px" [disabled]="loading" >
                  Delete
                </button>
              </div>
              <div></div>
            </form>

          </article>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <div class="container-fluid footer-container">
      <footer class="footer">
        <div class="footer-lists">
          <div class="row">
            <div class="col-sm">
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>
</div>

<!-- Bootcamp JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
